apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: stage-devblog
  namespace: default
spec:
  interval: 20s
  chart:
    spec:
      chart: ./        
      sourceRef:
        kind: HelmRepository
        name: devblog-chart-repo
      version: "*" 
  values:
    replicaCount: 1
  upgrade:
    crds:
      create: true
    remediation:
      retries: 3
